@model IEnumerable<LagerSystem.Models.Position>

@{
    ViewData["Title"] = "Positions";
}

<h1>Positions</h1>
<h4>Total: @Model.Count()</h4>



@* Styling? *@
@*https://materializecss.com/tooltips.html*@
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h6 class="card-text">
                    Pallet ID: @Html.DisplayFor(modelItem => item.Pallet.Id)<br />
                    Position: @Html.DisplayFor(modelItem => item.RackPosition)
                </h6>
                <h6 class="card-title">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </h6>
            </div>
        </div>
    }
</div>
