@model LagerSystem.Models.StockItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PalletItems)
        </dt>
    </dl>
    <div class="card-columns">
        @foreach (var item in Model.PalletItems)
        {

            <div class="card">
                <div class="card-body">
                    <h6 class="card-text">
                        Pallet: @item.Pallet.Id <br />
                        Position: @Html.DisplayFor(modelItem => item.Pallet.RackPosition)
                    </h6>
                </div>
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
