@model LagerSystem.Models.Pallet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pallet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RackPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RackPosition)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div class="card-columns">
    @foreach (var item in Model.PalletItems)
    {
        <div class="card">
            <div class="card-body">
                <h6 class="card-text">
                    Pallet ID: @Html.DisplayFor(modelItem => item.StockItem.Name)<br />
                </h6>
                <h6 class="card-title">
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                </h6>
            </div>
        </div>
    }
</div>
