@model IEnumerable<LagerSystem.Models.Pallet>

@{
    ViewData["Title"] = "Pallets";
}

<h1>Pallets</h1>
<h4>Total: @Model.Count()</h4>

<div class="col-md-4">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
<div class="card-columns">
    @foreach (var item in Model)
    {

        <div class="card">
            <div class="card-body">
                <h6 class="card-text">
                    Position: @Html.DisplayFor(modelItem => item.RackPosition)
                </h6>
                <h6 class="card-title">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </h6>
            </div>
        </div>
    }
</div>
