@model LagerSystem.Models.StorageViewModel.StorageStockitemViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 storageInfoText" style="color:black">@Model.Storage.StorageName</h1>
    <text class="storageInfoText">
        @Model.Storage.StreetName
        @Model.Storage.Postal
        @Model.Storage.City   <br />
        Telephone: @Model.Storage.Telephone
    </text>
</div>


<form style="float:right; margin-top:5%;" asp-controller="Home" asp-action="Index">
    <p>
        Search Product: <input type="text" id="item" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stockitem.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pallet.RackPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pallet.Id)
            </th>
            <th></th>
        </tr>
    </thead>

    @if (Model.Stockitem != null)
    {
        <tbody>

            @foreach (var item in Model.Stockitem.PalletItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pallet.RackPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pallet.Id)
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/Stylesheet.css" rel="stylesheet" />
    <script src="~/js/Autocomplete.js"></script>
}
